@* Interface Enumarable = Enumarate or list (to ascertain the number of : count) *@


@model IEnumerable<Prac1.Models.StudentModel>
@{
    ViewBag.Title = "student";
}

<h2>My Study Group</h2>

<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.StudentNumber) </th>
        <th> @Html.DisplayNameFor(model => model.Name) </th>
        <th> @Html.DisplayNameFor(model => model.Surname) </th>
        <th> @Html.DisplayNameFor(model => model.Email) </th>
        <th></th>
    </tr>

    @foreach (var item in Model)// for each student
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.StudentNumber) </td>
            <td> @Html.DisplayFor(modelItem => item.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.Surname) </td>
            <td> @Html.DisplayFor(modelItem => item.Email) </td>


        </tr>
    }

</table>
